<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.ecwitkey.mapper.ArticleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, create_time, content, user_id, remark
    </sql>

    <select id="getArticleById" resultType="io.geekidea.springbootplus.ecwitkey.vo.ArticleQueryVo">
        select
        <include refid="Base_Column_List"/>
        from article where id = #{id}
    </select>

    <select id="getArticlePageList" resultType="io.geekidea.springbootplus.ecwitkey.vo.ArticleQueryVo">
        select
        <include refid="Base_Column_List"/>
        from article
    </select>

</mapper>
