<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.ecwitkey.mapper.OrderBiddingMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, user_id, create_time, state, message, remark
    </sql>

    <select id="getOrderBiddingById" resultType="io.geekidea.springbootplus.ecwitkey.vo.OrderBiddingQueryVo">
        select
        <include refid="Base_Column_List"/>
        from order_bidding where id = #{id}
    </select>

    <select id="getOrderBiddingPageList" resultType="io.geekidea.springbootplus.ecwitkey.vo.OrderBiddingQueryVo">
        select
        <include refid="Base_Column_List"/>
        from order_bidding
    </select>

</mapper>
