<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.ecwitkey.mapper.OrderPayMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, pay_time, amount, discount, actual_amount, flow_num, user_id, pay_method, state, remark
    </sql>

    <select id="getOrderPayById" resultType="io.geekidea.springbootplus.ecwitkey.vo.OrderPayQueryVo">
        select
        <include refid="Base_Column_List"/>
        from order_pay where id = #{id}
    </select>

    <select id="getOrderPayPageList" resultType="io.geekidea.springbootplus.ecwitkey.vo.OrderPayQueryVo">
        select
        <include refid="Base_Column_List"/>
        from order_pay
    </select>

</mapper>
