<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.ecwitkey.mapper.OrderCommentMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, technical_grade, server_grade, multi_grade, user_id, order_id, comment_tag, create_time, remark
    </sql>

    <select id="getOrderCommentById" resultType="io.geekidea.springbootplus.ecwitkey.vo.OrderCommentQueryVo">
        select
        <include refid="Base_Column_List"/>
        from order_comment where id = #{id}
    </select>

    <select id="getOrderCommentPageList" resultType="io.geekidea.springbootplus.ecwitkey.vo.OrderCommentQueryVo">
        select
        <include refid="Base_Column_List"/>
        from order_comment
    </select>

</mapper>
