<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.ecwitkey.mapper.ProjectSourceMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, original_name, source_name, format, size, order_id, remark
    </sql>

    <select id="getProjectSourceById" resultType="io.geekidea.springbootplus.ecwitkey.vo.ProjectSourceQueryVo">
        select
        <include refid="Base_Column_List"/>
        from project_source where id = #{id}
    </select>

    <select id="getProjectSourcePageList" resultType="io.geekidea.springbootplus.ecwitkey.vo.ProjectSourceQueryVo">
        select
        <include refid="Base_Column_List"/>
        from project_source
    </select>

</mapper>
