<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.ecwitkey.mapper.ProjectRequirementMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_id, order_id, qty, count_type, area, amount, remark
    </sql>

    <select id="getProjectRequirementById" resultType="io.geekidea.springbootplus.ecwitkey.vo.ProjectRequirementQueryVo">
        select
        <include refid="Base_Column_List"/>
        from project_requirement where id = #{id}
    </select>

    <select id="getProjectRequirementPageList" resultType="io.geekidea.springbootplus.ecwitkey.vo.ProjectRequirementQueryVo">
        select
        <include refid="Base_Column_List"/>
        from project_requirement
    </select>

</mapper>
