<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.ecwitkey.mapper.SysSettingMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, soft_supplier, company_type, estate, hot_key, protect_type, hot_tag, b_limit, e_limit, p_limit, website, record_num, company_name, tel, address, email, ser_num, role_type, remark
    </sql>

    <select id="getSysSettingById" resultType="io.geekidea.springbootplus.ecwitkey.vo.SysSettingQueryVo">
        select
        <include refid="Base_Column_List"/>
        from sys_setting where id = #{id}
    </select>

    <select id="getSysSettingPageList" resultType="io.geekidea.springbootplus.ecwitkey.vo.SysSettingQueryVo">
        select
        <include refid="Base_Column_List"/>
        from sys_setting
    </select>

</mapper>
